.container{
    display: flex;
}
.player-container{
    width: 70%;
    border-right: 10px solid  goldenrod;
}
.cart-container {
    width: 30%;
    background-color: lightsteelblue;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
}
.cart-container h3{
    padding-left: 10px;
}